# Python
__pycache__/
*.pyc

# Django
db.sqlite3

# Settings sensível
configuracoes/settings.py

# Migrations (ignora todas menos __init__)
core/migrations/*
!core/migrations/__init__.py

# Ambiente virtual
venv/
.env

# VSCode
.vscode/